<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>

<table>
   <tr>
       <tbody>
       <tr>
           <th th:text="Source"></th>
           <th th:text="Destination"></th>
           <th th:text="FlightNumber"></th>
       </tr>
       <tr th:each="flight: ${flights}">
           <td th:text="${flight.source}"></td>
           <td th:text="${flight.destination}"></td>
           <td th:text="${flight.flightNumber}"></td>
       </tr>
       </tbody>
   </tr>

</table>

</body>
</html>